@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Noto+Serif+SC:wght@400;700&display=swap');

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Palatino', "Palatino Linotype", "Palatino LT STD", 'Noto Serif SC', Helvetica, Arial, sans-serif;
  margin: 3.5rem auto;
  line-height: 1.75rem;
  text-rendering: optimizeLegibility;
  background-color:  #fff;
  hyphens: auto;
}

/* wide viewport start */
@media screen and (min-width:620px){
  
  body {
    max-width: 620px;
    padding: 0 1rem;
  }

  .brand {
    left: calc(50% - 310px);
  }
  
  #toggler {
    display: none;
  }

  .nav-items ul {
    margin:0;
    position:relative;
    float: right;
    right: calc(50% - 310px);
  }

  .nav-items li {
    margin: 0;
    display: inline-block;
    position: relative;
    padding: 0 0 0 1.5rem;
  }

  /* For bilibili */
  iframe {
    width: 100%;
    height: 500px;
  }

  .zh, .home, .en {
    text-align: justify;
    text-justify: distribute;
  }
}
/* wide viewport end */

/* responsive layout start */
@media screen and (max-width:620px){

  body {
    padding: 0 1rem;
  }
  
  .brand {
    left: 1rem;
  }

  label {
    position: relative;
    float: right;
    right: 1rem;
    margin-left: 3rem;
  }

  .hamburger-container {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 10px;
  }

  .hamburger-container span {
    display: block;
    height: 2px;
    background-color: #000;
    position: relative;
    transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
    top: 0;
  }

  .hamburger-container span:nth-child(2) {
    height: 2px;
    margin-top: 6px;
  }

  #toggler:checked + label .hamburger-container span:nth-child(1) {
    transform: rotate(45deg);
    top: 4px;
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }

  #toggler:checked + label .hamburger-container span:nth-child(2) {
    transform: rotate(-45deg);
    top: -4px;
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }

  #toggler:checked + label .hamburger-container span:nth-child(3) {
    display: none;
    top: 0px;
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }

  .nav-items {
    opacity: 0;
    background:#f2f2f2;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 4rem;
    right: 0;
    transform: scaleY(0);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform-origin: 50% 0;
  }

  #toggler:checked ~ .nav-items {
    transform: scaleY(1);
    opacity: 1;
  }

  .nav-items ul {
    margin-top: 4rem;
  }
  .nav-items ul li {
    font-size: 24px;
    text-align: center;
    line-height: 4rem;
    list-style-type: none;
    border-bottom: solid 1px #000;
  }

  .nav-items a {
    padding: 1rem 30%;
    text-align: center;
  }

  iframe {
    width: 100%;
    height: calc(100vw/4*3);
  }
}
/* responsive layout end */

/* menu */
.menu {
  margin: 0;
  width: 100%;
  position: fixed;
	padding: 1.5rem 0;
	top: 0;
  left: 0;
	opacity: 0.8;
  background:#f2f2f2;
  z-index: 3;
}

.menu a {
  border-bottom: none;
}

.brand {
  position: relative;
  float: left;
  font-size: 36px;
  font-family: 'Fascinate', cursive;
  margin-right: auto;
}

#toggler {
  display: none;
}
/* end */


.author {
  margin: 0.85rem 0;
  text-align: center;
}

ul, ol {
  padding: 0 0 0 20px;
}
li {
  margin: 4px 0;
  padding: 0;
}
.task-list li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid;
  border-color: #ddd;
}
a:active {
  color: #777;  
}
a:hover {
  border-bottom: none;
  color: #777;
}

hr {
  color: #ddd;
}

del {
  color: #ddd;
}
del a {
  color: #ddd;
  border-bottom: none;
}

img, video {
  max-width: 100%;
  display: block;
}

figcaption {/* nee the support of pandoc, which is conflict with hugo in-built toc */
  text-align: center;
  font-size: 85%;
}
figcaption::before {
  content: "◎\20"
}

blockquote {
  font-family: Helvetica, Tahoma, 'STKaiti', 'KaiTi', '楷体', 'SimKai', sans-serif;
  border-left: 3px solid transparent;
  text-align: left;
  margin: 1em 0;
  padding: 0 2em;
}
blockquote:hover {
  border-left: 3px solid #ddd;
}

/* only the content of the articles are allowed to be printed out */
@media print {
  del, footer, .post-comment, .post-nav, .menu, .music, #BackToTop-script {
    display: none;
  }
  .zh, .home {
    text-align: justify;
    text-justify: distribute;
  }
}
/* end */

/* make the first letter of English article occupy two lines */
.en main p:first-child::first-letter, .phys main p:first-child::first-letter {
  font-size: 3em;
  padding: 0.1em 0.1em 0 0;
  float: left;
  padding-top: 0.3em;
}

::selection {
  background: #fff9c0;
}

/* footnotes */
.footnotes {
  text-align: left;
  line-height: 1.5;
  font-size: 85%;
}
.footnote-ref {
  border-bottom: none;
  font-size: 85%;
}
.footnote-ref sup::before {
  content: '\20[';
}
.footnote-ref sup::after {
  content: ']';
}
.footnote-backref {
  margin-left: 0.5rem;
}
/* end */

/* list page */
.list {
  padding: 0;
  justify-content: space-between;
}
.list-item {
  display: flex;
  padding: 0.3rem 0;
  border-bottom: dashed 1px #ddd;
}
.list-title {
  margin-right: auto;
  max-width: 60%;
  border-bottom: none;
}
.list-date {
  margin-left: auto;
  float: right;
  max-width: 30%;
}

/* post navigation */
.post-nav {
  display: flex;
  border-top: 1px solid #eee;
  font-weight: bold;
  padding-top: 0.5rem;
}
.nav-prev a, .nav-next a {
  border-bottom: none;
}
.nav-prev a::before {
  content: "\2190\20";
  font-size:large;
}
.nav-next a::after {
  content: "\20\2192";
  font-size:large;
}
.nav-prev {
  margin-right: auto;
  max-width: 45%;
}
.nav-next {
  margin-left: auto;
  float: right;
  max-width: 45%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.8rem 0;
  font-size: 85%;
  line-height: 1.25rem;
  color: #777;
  background:#fff;
  opacity: 1;
}
footer a {
  border-bottom: none;
  color: #777;
}

/*!
 * LaTeX.css (https://latex.now.sh/)
 *
 * Source: https://github.com/vincentdoerig/latex-css
 * Licensed under MIT (https://github.com/vincentdoerig/latex-css/blob/master/LICENSE)
*/

/* Styles for inline code or code snippets */
code,
pre,
kbd {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-size: 85%;
  background-color: #f9f9f9;
}
pre {
  padding: 1rem 1.4rem;
  margin: 1rem 0;
  max-width: 100%;
  overflow: auto;
  border-radius: 4px;
  background: #f9f9f9;
}
pre code {
  font-size: 95%;
  position: relative;
}
kbd {
  background: hsl(210, 5%, 100%);
  border: 1px solid hsl(210, 5%, 70%);
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 75%;
}

/* Better tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  max-width: 100%;
  border-top: 2.27px solid black;
  border-bottom: 2.27px solid black;
  /* display: block; */
  overflow-x: auto; /* does not work because element is not block */
  /* white-space: nowrap; */
  counter-increment: caption;
}
/* add bottom border on column table headings  */
table tr > th[scope='col'] {
  border-bottom: 1.36px solid black;
}
/* add right border on row table headings  */
table tr > th[scope='row'] {
  border-right: 1.36px solid black;
}
table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
  border-top: 1.36px solid black;
}
table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
  border-bottom: 1.36px solid black;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  line-height: 1.1;
}
/* Table caption */
caption {
  text-align: left;
  font-size: 0.923em;
  /* border-bottom: 2pt solid #000; */
  padding: 0 0.25em 0.25em;
  width: 100%;
  margin-left: 0;
}

caption::before {
  content: 'Table ' counter(caption) '. ';
  font-weight: bold;
}

/* allow scroll on the x-axis */
.scroll-wrapper {
  overflow-x: auto;
}

/* if a table is wrapped in a scroll wrapper,
  the table cells shouldn't wrap */
.scroll-wrapper > table td {
  white-space: nowrap;
}


/* Center definitions (most useful for display equations) */
dl dd {
  text-align: center;
}

/* Theorem */
.theorem {
  counter-increment: theorem;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.theorem::before {
  content: 'Theorem ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Lemma */
.lemma {
  counter-increment: theorem;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.lemma::before {
  content: 'Lemma ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Proof */
.proof {
  display: block;
  margin: 12px 0;
  font-style: normal;
  position: relative;
}
.proof::before {
  content: 'Proof. ' attr(title);
  font-style: italic;
}
.proof:after {
  content: '◾️';
  position: absolute;
  right: -12px;
  bottom: -2px;
}

/* Definition */
.definition {
  counter-increment: definition;
  display: block;
  margin: 12px 0;
  font-style: normal;
}
.definition::before {
  content: 'Definition ' counter(definition) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Center title and paragraph */
.abstract,
.abstract p {
  text-align: center;
  margin-top: 0;
}
.abstract {
  margin: 2.25rem 0;
}
.abstract > h2 {
  font-size: 1rem;
  margin-bottom: -0.2rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 1.625rem;
  text-align: center;
  margin-top: 3rem;
}
h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-top: 3rem;
  text-align: center;
}
h3 {
  font-size: 1.4rem;
  margin-top: 2.5rem;
}
h4 {
  font-size: 1.2rem;
  margin-top: 2rem;
}
h5 {
  font-size: 1rem;
  margin-top: 1.8rem;
}
h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  margin-top: 2.5rem;
}
h3,
h4,
h5,
h6 {
  line-height: 1.625rem;
}
h1 + h2 {
  margin-top: 1.625rem;
}
h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 0.8rem;
}
h5 + h6 {
  margin-top: -0.8rem;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8rem;
}
/* end */